@use "mixins.scss";

.benefits {
  @include list-decoration;

  padding: 32px 18px 22px;

  text-align: left;
  color: $dark-grey-color;
  background-color: $white-color;
}

.benefits__item {
  position: relative;
  padding-left: 44px;
  margin-bottom: 30px;

  &--house::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 39px;
    height: 37px;

    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--food::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 40px;
    height: 35px;

    background-image: url("../img/icon-food.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--gift::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 4px;
    width: 32px;
    height: 38px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.benefits__title,
.benefits__description {
  margin: 0;
}

.benefits__title {
  margin-bottom: 16px;
}

.benefits__item--house .benefits__title,
.benefits__item--house .benefits__description {
  padding-left: 4px;
}

.benefits__item--food .benefits__title,
.benefits__item--food .benefits__description {
  padding-left: 7px;
}

@media (min-width: $tablet-width) {
  .benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: -1;
    row-gap: 20px;

    text-align: center;
    padding: 0;
    padding-top: 57px;
    padding-bottom: 59px;
  }

  .benefits__item {
    margin-bottom: 0;
    padding: 0;
    padding-top: 100px;

    &--house .benefits__description {
      padding-left: 35px;
      padding-right: 35px;
    }

    &--house::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 50%;
      transform: translateX(-50%);
      width: 75px;
      height: 72px;

      background-image: url("../img/icon-house.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--food .benefits__description {
      padding-left: 50px;
      padding-right: 50px;
    }

    &--food::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
      width: 76px;
      height: 68px;

      background-image: url("../img/icon-food.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--gift .benefits__description {
      padding-left: 30px;
      padding-right: 30px;
    }

    &--gift::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 64px;
      height: 75px;

      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .benefits__title {
    font-size: 21px;
    line-height: 1.24;
    margin-bottom: 26px;
    padding: 0 35px;
  }

  .benefits__item--house .benefits__title {
    padding-left: 34px;
  }

  .benefits__item--food .benefits__title {
    padding-left: 34px;
  }
}

@media (min-width: $desktop-width) {
  .benefits__item {
    &--house .benefits__description {
      padding-left: 58px;
      padding-right: 60px;
    }

    &--food .benefits__description {
      padding-left: 50px;
      padding-right: 50px;
    }

    &--gift .benefits__description {
      padding-left: 104px;
      padding-right: 104px;
    }
  }
}
