@use "mixins.scss";

.copyright__link {
  @include link-decoration;

  display: block;
  position: relative;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;

  color: $black-color;

  margin: 0;
  margin-right: 44px;

  &[href]:hover {
    color: $blue-default-color;
  }

  &[href]:active {
    color: $grey-click-color;
  }
}

.copyright__icon {
  @include image-size;
  position: absolute;
  top: -7px;
  left: 120px;
  width: 27px;
  height: 34px;
  fill: currentColor;
}

@media (min-width: $tablet-width) {
  .copyright {
    align-self: center;
  }

  .copyright__link {
    padding: 0;
  }

  .copyright__icon {
    left: 100px;
  }
}
