@use "mixins.scss";

.features__wrapper {
  @include container;
}

.features__intro {
  margin: 0;
  padding: 0 25px 16px;
}

.features__list {
  @include list-decoration;
}

.features__item {
  &--blue-theme {
    color: $white-color;
    background-color: $blue-default-color;
  }

  &--gray-theme {
    background-color: $light-grey-color;
  }

  &--pattern {
    padding-top: 46px;

    background-image: url("../img/pattern-features.svg");
    background-size: auto;
    background-position: top center;
    background-repeat: no-repeat;
  }
}

.features__subtitle {
  margin: 0;
  padding: 24px 20px 11px;

  &--blue-theme {
    color: inherit;
  }
}

.features__number,
.features__description {
  size: 21px;
  line-height: 15px;
}

.features__number {
  margin-top: 0;
  margin-bottom: 0;
}

.features__description {
  margin: 0;
  padding: 17px 31px 24px;
}

.features__image {
  @include image-size;
  vertical-align: bottom;
}

@media (min-width: $tablet-width) {
  .features__intro {
    padding: 0 30px 55px;
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .features__item {
    &--blue-theme {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      grid-column-start: 1;
      grid-column-end: -1;
    }

    &--pattern {
      padding-top: 0;
      background-image: none;
    }
  }

  .features__subtitle {
    padding: 40px 36px 16px;
  }

  .features__description {
    padding: 26px 31px 44px;
  }

  .features__image {
    width: 512px;
    height: 256px;
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .features__list-benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

@media (min-width: $desktop-width) {
  .features__intro {
    padding: 0 50px 44px;
  }

  .features__subtitle {
    padding: 47px 110px 16px;
  }

  .features__description {
    padding: 26px 65px 56px;
  }

  .features__image {
    width: 800px;
    height: 256px;
  }
}
