@use "mixins.scss";

.feedback__wrapper {
  @include container;
}

.feedback__page-title,
.feedback__description {
  margin-top: 0;
  padding: 0 20px;
}

.feedback__page-title {
  margin-bottom: 24px;
}

.feedback__description {
  margin-bottom: 28px;
}

.feedback__form {
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .feedback__page-title,
  .feedback__description {
    padding: 0 164px;
  }

  .feedback__page-title {
    margin-bottom: 24px;
  }

  .feedback__description {
    margin-bottom: 100px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__page-title,
  .feedback__description {
    padding: 0 380px;
  }

  .feedback__page-title {
    margin-bottom: 32px;
  }

  .feedback__description {
    margin-bottom: 56px;
  }
}
