@use "mixins.scss";

.footer__wrapper {
  @include container;
  padding: 28px 70px 23px 73px;
}

.footer__hashtag {
  margin-top: 0;
  margin-bottom: 34px;
  padding-right: 7px;

  font-size: 21px;
  line-height: 1.24;
  font-weight: 700px;
  color: $black-color;
}

.footer__list {
  @include list-decoration;
  margin: 0 auto;
  margin-bottom: 46px;
}

.footer__copyright {
  margin-bottom: 7px;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 120px;

    padding: 36px 58px 36px 60px;
  }

  .footer__hashtag {
    padding: 0;
    margin-bottom: 0;
  }

  .footer__list {
    margin-bottom: 0;
  }

  .footer__copyright {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding-top: 38px;
    padding-right: 120px;
    padding-left: 118px;
  }
}
