@use "mixins.scss";

.form__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.form__block {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 23px;
  padding: 0;
  border: none;
}

.form__title {
  padding-top: 24px;
  padding-bottom: 20px;
}

.form__box {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: left;
}

.form__label {
  padding-left: 16px;
}

.form__text-field {
  padding: 16px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;

  width: 100%;
  box-sizing: border-box;
  border: none;

  background-color: $grey-form-color;

  &[type="text"]::placeholder {
    color: $black-color;
  }
}
