@use "mixins.scss";

.form__block {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: none;
}

.form__personal-info {
  margin-bottom: 25px;
}

.form__contact-info {
  margin-bottom: 19px;
}

.form__title {
  width: 100%;
  padding: 24px 0 17px;
  border-top: 1px solid $grey-form-hover-color;
}

.form__opinion .form__title,
.form__checklist .form__title {
  padding-bottom: 30px;
}

.form__box {
  margin: 0 20px 14px;
  text-align: left;
}

.form__label {
  padding-left: 16px;
}

.form__text-field {
  padding: 16px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  text-transform: none;

  width: 100%;
  box-sizing: border-box;
  border: none;

  color: $black-30-color;
  background-color: $grey-form-color;

  &:hover {
    background-color: $grey-form-hover-color;
  }

  &:focus {
    background-color: transparent;
    color: $black-color;
    outline: 4px solid $grey-form-hover-color;
    outline-offset: -4px;
  }
}

.form__tel-field {
  padding-right: 60px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.form__email-field {
  padding-right: 60px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.form__list {
  @include list-decoration;
  text-align: left;
}

.form__radio-field,
.form__checkbox {
  @include visually-hidden;
}

.form__label-radio,
.form__label-checkbox {
  position: relative;
  display: block;
  cursor: pointer;

  margin-left: 66px;
  padding-bottom: 36px;

  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  text-transform: none;
  color: $black-color;
}

.form__label-radio {
  &::before {
    position: absolute;
    content: "";
    left: -46px;
    top: -10px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: $grey-form-color;
  }

  &:hover::before {
    background-color: $grey-form-hover-color;
  }

  &:active::before {
    background-color: $grey-form-down-color;
  }

  .form__radio-field:focus + &::before {
    outline: 2px solid $black-color;
  }

  .form__radio-field:checked + &::after {
    position: absolute;
    content: "";
    left: -31px;
    top: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $dark-grey-color;
  }

  .form__radio-field:checked + &:active::after {
    background-color: $dark-grey-30-color;
  }
}

.form__label-checkbox {
  &::before {
    position: absolute;
    content: "";
    left: -46px;
    top: -10px;
    width: 46px;
    height: 46px;
    border-radius: 4px;
    background-color: $grey-form-color;
  }

  &:hover::before {
    background-color: $grey-form-hover-color;
  }

  &:active::before {
    background-color: $grey-form-down-color;
  }

  .form__checkbox:focus + &::before {
    outline: 2px solid $black-color;
  }

  .form__checkbox:checked + &::after {
    position: absolute;
    content: "";
    top: 4px;
    left: -33px;
    width: 22px;
    height: 16px;
    background-image: url("../img/icon-tick.svg");
  }

  .form__checkbox:checked + &:active::after {
    background-image: url("../img/icon-tick-down.svg");
  }
}

.form__comment {
  margin-bottom: 50px;
}

.form__comment .form__label {
  @include visually-hidden;
}

.form__comment .form__box {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.form__textarea-field {
  padding-top: 17px;
  padding-bottom: 5px;
}

.form__submit-wrapper {
  margin: 0 20px;
}

.form__button {
  width: 100%;
  padding: 18px 32px 13px;
  margin-bottom: 2px;
}

.form__footnote {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 12px;
  text-align: right;
  color: $dark-grey-60-color;
}

@media (min-width: $tablet-width) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 38px;
    margin-bottom: 0;
    padding: 0 60px 64px;
  }

  .form__personal-info {
    margin-bottom: 50px;
  }

  .form__contact-info {
    position: relative;
    margin-bottom: 50px;
    padding-left: 24px;
  }

  .form__contact-info .form__title::before {
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
    width: 1px;
    height: 338px;
    background-color: $grey-border-color;
  }

  .form__title {
    font-size: 21px;
    line-height: 1.24;
    width: auto;
    padding: 0 47px;
    border: none;
  }

  .form__personal-info .form__title {
    padding: 0 20px 25px 40px;
  }

  .form__contact-info .form__title {
    margin-left: -20px;
    padding: 0 0 25px;
  }

  .form__contact-info .form__label {
    padding-left: 18px;
  }

  .form__opinion .form__title,
  .form__checklist .form__title {
    margin-bottom: 39px;
    padding: 0 65px;
  }

  .form__comment .form__title {
    margin-bottom: 28px;
    padding: 0 74px;
  }

  .form__personal-info .form__box,
  .form__contact-info .form__box {
    margin-left: 0;
    margin-right: 0;
  }

  .form__personal-info .form__text-field,
  .form__contact-info .form__text-field {
    width: 280px;
  }

  .form__opinion,
  .form__checklist,
  .form__comment {
    grid-column-start: 1;
    grid-column-end: -1;

    border-top: 1px solid $grey-border-color;
  }

  .form__opinion {
    margin-bottom: 38px;
  }

  .form__checklist {
    margin-bottom: 30px;
  }

  .form__comment {
    margin-bottom: 41px;
  }

  .form__opinion .form__list {
    width: 575px;
    display: grid;
    grid-template-columns: 280px 280px;
    gap: 16px;
    margin: 0 auto;
  }

  .form__label-radio {
    margin-left: 46px;
    padding-bottom: 20px;
  }

  .form__checklist .form__list {
    width: 480px;
    display: grid;
    grid-template-columns: 224px 224px;
    column-gap: 32px;
    row-gap: 16px;
    margin: 0 auto;
  }

  .form__label-checkbox {
    margin-left: 46px;
    padding-bottom: 21px;
  }

  .form__comment .form__box {
    margin: 0;
  }

  .form__textarea-field {
    padding-bottom: 14px;
  }

  .form__submit-wrapper {
    width: 648px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: -1;

    margin: 0 auto;
  }

  .form__button {
    width: 324px;
    margin-bottom: 0;
    padding: 19px 10px 13px 0;
  }

  .form__footnote {
    font-size: 14px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 0 120px 64px;
  }

  .form__personal-info {
    margin-bottom: 57px;
  }

  .form__personal-info .form__box,
  .form__contact-info .form__box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .form__personal-info .form__title {
    padding-left: 48px;
  }

  .form__personal-info .form__text-field {
    width: 430px;
  }

  .form__contact-info {
    margin-bottom: 57px;
    padding-left: 58px;
  }

  .form__contact-info .form__title {
    margin-left: -31px;
  }

  .form__contact-info .form__title::before {
    left: -6px;
  }

  .form__contact-info .form__text-field {
    width: 402px;
  }

  .form__opinion {
    margin-bottom: 62px;
  }

  .form__opinion .form__title {
    margin-bottom: 57px;
  }

  .form__opinion .form__list {
    width: 960px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 53px;
  }

  .form__checklist {
    margin-bottom: 76px;
  }

  .form__checklist .form__title {
    margin-bottom: 70px;
  }

  .form__checklist .form__list {
    width: 960px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 45px;
  }

  .form__comment .form__box {
    width: 768px;
    margin: 0 auto;
  }

  .form__submit-wrapper {
    width: 768px;
  }

  .form__button {
    width: 384px;
  }
}
