@use "mixins.scss";

.form__block {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: none;
}

.form__personal-info {
  margin-bottom: 23px;
}

.form__contact-info {
  margin-bottom: 18px;
}

.form__title {
  width: 100%;
  padding: 24px 0 20px;
  border-top: 1px solid $grey-form-hover-color;
}

.form__opinion .form__title,
.form__checklist .form__title {
  padding-bottom: 30px;
}

.form__box {
  margin: 0 20px 16px;
  text-align: left;
}

.form__label {
  padding-left: 16px;
}

.form__text-field {
  padding: 16px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;

  width: 100%;
  box-sizing: border-box;
  border: none;

  background-color: $grey-form-color;

  &[type="text"]::placeholder {
    color: $black-color;
  }
}

.form__text-field[type="tel"],
.form__text-field[type="email"] {
  color: $black-30-color;
}

.form__list {
  @include list-decoration;
  text-align: left;
}

.form__radio-field,
.form__checkbox {
  @include visually-hidden;
}

.form__label-radio,
.form__label-checkbox {
  position: relative;
  display: block;
  cursor: pointer;

  margin-left: 66px;
  padding-bottom: 36px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  color: $black-color;
}

.form__label-radio {
  &::before {
    position: absolute;
    content: "";
    left: -46px;
    top: -10px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: $grey-form-color;
  }

  .form__radio-field:checked + &::after {
    position: absolute;
    content: "";
    left: -31px;
    top: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $dark-grey-color;
  }
}

.form__label-checkbox {
  &::before {
    position: absolute;
    content: "";
    left: -46px;
    top: -10px;
    width: 46px;
    height: 46px;
    background-color: $grey-form-color;
  }

  .form__checkbox:checked + &::after {
    position: absolute;
    content: "";
    left: -33px;
    top: 7px;
    width: 22px;
    height: 16px;
    background-image: url("../img/icon-tick.svg");
  }
}

.form__comment .form__box {
  margin-bottom: 56px;
}

.form__comment .form__label {
  @include visually-hidden;
}

.form__textarea-field::placeholder {
  color: $dark-grey-30-color;
}

.form__submit-wrapper {
  margin: 0 20px;
}

.form__button {
  width: 100%;
  padding: 18px 32px 13px;
  margin-bottom: 3px;
}

.form__footnote {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 12px;
  text-align: right;
  color: $dark-grey-60-color;
}
