@use "mixins.scss";

.main-nav {
  position: relative;
  width: auto;
}

.main-nav__logo {
  display: block;
}

.main-nav__toggle {
  position: absolute;
  display: block;
  z-index: 2;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 23px;
  height: 22px;

  background-color: transparent;
  border: none;
  padding: 0;
}

.main-nav__list {
  @include list-decoration;
  background-color: $blue-default-color;
}

.main-nav__item {
  box-shadow: 0 -1px 0 $shadow-20-color, inset 0 1px 0 $white-20-color;

  &:first-child {
    box-shadow: none;
  }

  &:last-child {
    background-image: linear-gradient(to top, $black-20-color, $black-0-color 13%);
  }
}

.main-nav__link {
  @include link-decoration;
  display: block;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;

  color: $white-color;

  padding: 17px 0 13px;

  &:hover {
    background-color: $blue-hover-color;
  }

  &:active {
    color: $white-60-color;
    background-color: $blue-click-color;
  }
}

.main-nav--closed {
  & .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 17px;
    right: 20px;
    width: 23px;
    height: 22px;
    background-image: url("../img/icon-menu.svg");
    background-repeat: no-repeat;
  }

  & .main-nav__toggle:hover::before {
    opacity: 0.6;
  }

  & .main-nav__toggle:active::before {
    opacity: 0.3;
  }
}

.main-nav--opened {
  & .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 19px;
    width: 23px;
    height: 23px;
    background-image: url("../img/icon-cross.svg");
    background-repeat: no-repeat;
  }

  & .main-nav__toggle:hover::before {
    opacity: 0.6;
  }

  & .main-nav__toggle:active::before {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .main-nav--nojs .main-nav__logo {
    padding-top: 220px;
  }

  .main-nav--nojs .promo--inner {
    padding-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -93px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 768px;
    max-width: 1000px;
    background-color: $white-color;
  }

  .main-nav__item {
    width: 153px;
    box-shadow: none;

    &:last-child {
      background-image: none;
    }

    &:nth-child(2) {
      margin-right: 154px;
    }

    &--active .main-nav__link {
      color: $brown-carrent-color;
    }
  }

  .main-nav__link {
    padding: 19px 0 16px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    color: $black-color;

    &[href]:hover {
      color: $blue-default-color;
    }

    &:hover {
      background-color: $white-color;
    }

    &[href]:active {
      color: $black-30-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 1200px;
    max-width: 1200px;
  }

  .main-nav__item {
    width: 240px;

    &:nth-child(2) {
      margin-right: 240px;
    }
  }
}
