@use "mixins.scss";

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: $black-30-color;
}

.modal__wrapper {
  @include container;
  position: fixed;
  background-color: $white-color;
}

.modal__title,
.modal__description {
  margin-top: 0;
  margin-bottom: 0;
}

.modal__wrapper--warning {
  top: 116px;
  left: 50%;
  transform: translateX(-50%);

  & .modal__title {
    margin-bottom: 25px;
    padding: 45px 42px 0;
  }

  & .modal__description {
    margin-bottom: 28px;
    padding: 0 42px;
  }

  & .modal__close-button {
    width: 180px;
    font-size: 18px;
    line-height: 1.44;
    margin: 0 auto 35px;
    padding: 18px 63px 14px;
  }
}

.modal__box {
  padding: 20px;
  background-color: $grey-form-color;
}

.modal__wrapper--information {
  top: 402px;
  left: 50%;
  transform: translateX(-50%);

  & .modal__title {
    margin-bottom: 25px;
    padding: 39px 38px 0;
  }

  & .modal__description {
    margin-bottom: 52px;
    padding: 0 38px;
  }

  & .modal__close-button {
    width: 280px;
    font-size: 18px;
    line-height: 1.44;
    margin: 0 auto;
    padding: 16px 60px;
  }
}

.modal--opened {
  display: block;
}

.modal--closed {
  display: none;
}

@media (min-width: $tablet-width) {
  .modal__wrapper--warning {
    top: 283px;
    width: 400px;

    & .modal__title {
      font-size: 30px;
      line-height: 1.33;
      margin-bottom: 20px;
      padding: 50px 80px 0;
    }

    & .modal__description {
      margin-bottom: 48px;
    }

    & .modal__close-button {
      width: 272px;
      font-size: 21px;
      line-height: 1.24;
      margin-bottom: 48px;
    }
  }

  .modal__wrapper--information {
    top: 162px;
    width: 640px;

    & .modal__title {
      font-size: 30px;
      line-height: 0.87;
      margin-bottom: 30px;
      padding-top: 51px;
    }

    & .modal__close-button {
      width: 458px;
      font-size: 21px;
      line-height: 1.24;
      margin: 23px auto 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .modal__wrapper--warning {
    top: 244px;
  }

  .modal__wrapper--information {
    top: 145px;
  }
}
