@use "mixins.scss";

.page-header {
  background-color: $white-color;
}

.page-header__main-nav,
.page-header__promo {
  @include container;
}

.page-header__promo {
  margin-top: -40px;
}

.page-header__main-nav {
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .page-header__main-nav {
    margin-bottom: 48px;
  }

  .page-header__promo {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__main-nav {
    margin-bottom: 59px;
  }
}
