@use "mixins.scss";

.page__body {
  min-width: 320px;
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $dark-grey-color;

  background-color: $grey-form-color;

  &--modal-show {
    overflow: hidden;
  }
}

.page__wrapper {
  @include container;
  background-color: $white-color;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

@media (min-width: $desktop-width) {
  .page__wrapper {
    max-width: 1200px;
  }
}
