@use "mixins.scss";

.photo-gallery__wrapper {
  @include container;
}

.photo-gallery__page-title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 33px 20px 30px;
}

.photo-gallery__description {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 20px 44px;
}

.photo-gallery__item {
  padding: 24px 20px 25px;
  border-top: 1px solid $grey-form-hover-color;

  &:last-child {
    border-bottom: 1px solid $grey-form-hover-color;
  }
}

.photo-gallery__link {
  @include link-decoration;
}

.photo-gallery__item-image {
  @include image-size;
  vertical-align: bottom;
}

.photo-gallery__item-info {
  text-align: left;
}

.photo-gallery__caption {
  padding-top: 15px;
  padding-right: 100px;
  padding-bottom: 11px;
}

.photo-gallery__photo-name,
.photo-gallery__author-name,
.photo-gallery__like-counter {
  margin-top: 0;
  margin-bottom: 0;
}

.photo-gallery__photo-name {
  font-size: 14px;
  padding-bottom: 8px;
}

.photo-gallery__author-name {
  text-transform: none;
}

.photo-gallery__like-link {
  @include link-decoration;
  font-family: inherit;
  font-weight: 700;
  color: $black-color;
}

.photo-gallery__like-counter {
  padding-left: 37px;
}

@media (min-width: $tablet-width) {
  .photo-gallery__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  .photo-gallery__item {
    padding: 0;
    border-top: none;

    &:nth-child(2n-1) .photo-gallery__item-info {
      background-color: $grey-gallery-color;
    }

    &:first-child {
      grid-column-start: 1;
      grid-column-end: -1;
    }

    &:first-child .photo-gallery__item-image {
      width: 648px;
      height: 400px;
    }

    &:first-child .photo-gallery__item-info {
      background-color: $grey-form-color;
    }
  }

  .photo-gallery__item-image {
    width: 324px;
    height: 267px;
  }

  .photo-gallery__item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 20px 15px;
    background-color: $grey-form-color;
  }

  .photo-gallery__caption {
    padding: 0;
  }

  .photo-gallery__photo-name {
    padding: 0;
    margin-bottom: 8px;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }

  .photo-gallery__item {
    position: relative;

    &:first-child .photo-gallery__item-image {
      width: 1200px;
    }

    &:first-child .photo-gallery__item-info {
      width: 1200px;
    }

    &:nth-child(2n-1) .photo-gallery__item-info {
      background-color: $black-30-color;
    }
  }

  .photo-gallery__item-image {
    width: 400px;
  }

  .photo-gallery__item-info {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 80px;

    color: $white-color;
    background-color: $black-30-color;
  }

  .photo-gallery__like-link {
    color: $white-color;
  }
}
