@use "mixins.scss";

.photo-gallery__wrapper {
  @include container;
  margin-bottom: 17px;
}

.photo-gallery__page-title {
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0 20px;
}

.photo-gallery__description {
  margin-top: 0;
  margin-bottom: 38px;
  padding: 0 20px;
}

.photo-gallery__item {
  padding: 26px 20px 27px;
  border-top: 1px solid $grey-form-hover-color;

  &:last-child {
    border-bottom: 1px solid $grey-form-hover-color;
  }
}

.photo-gallery__link {
  @include link-decoration;
}

.photo-gallery__item-image {
  @include image-size;
  vertical-align: bottom;
  background-color: $grey-form-hover-color;
}

.photo-gallery__item-info {
  text-align: left;
}

.photo-gallery__caption {
  padding-top: 13px;
  padding-right: 100px;
  padding-bottom: 14px;
}

.photo-gallery__photo-name,
.photo-gallery__author-name,
.photo-gallery__like-counter {
  margin-top: 0;
  margin-bottom: 0;
}

.photo-gallery__photo-name {
  font-size: 14px;
  margin-bottom: 1px;
}

.photo-gallery__author-name {
  text-transform: none;
}

.photo-gallery__like-link {
  @include link-decoration;
  position: relative;
  font-family: inherit;
  font-weight: 700;
  color: $black-color;
}

.photo-gallery__icon-like {
  position: absolute;
  top: -5px;
  left: 0;
  width: 23px;
  height: 21px;
  fill: $black-30-color;
}

.photo-gallery__like-counter {
  padding-left: 37px;
}

@media (min-width: $tablet-width) {
  .photo-gallery__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
    margin-bottom: 54px;
  }

  .photo-gallery__page-title {
    margin-bottom: 31px;
    font-size: 30px;
    line-height: 0.87;
  }

  .photo-gallery__description {
    margin-bottom: 80px;
    padding: 0 170px;
  }

  .photo-gallery__item {
    padding: 0;
    border-top: none;

    &:nth-child(2n-1) .photo-gallery__item-info {
      background-color: $grey-gallery-color;
    }

    &:first-child {
      grid-column-start: 1;
      grid-column-end: -1;
    }

    &:first-child .photo-gallery__item-image {
      width: 648px;
      height: 400px;
    }

    &:first-child .photo-gallery__item-info {
      background-color: $grey-form-color;
    }
  }

  .photo-gallery__item-image {
    width: 324px;
    height: 267px;
  }

  .photo-gallery__item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 20px 15px;
    background-color: $grey-form-color;
  }

  .photo-gallery__caption {
    padding: 0;
  }

  .photo-gallery__photo-name {
    padding: 0;
    margin-bottom: 2px;
  }

  .photo-gallery__like-link {
    margin-top: auto;
    margin-bottom: auto;
  }

  .photo-gallery__like-counter {
    padding-left: 32px;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin-bottom: 62px;
  }

  .photo-gallery__description {
    margin-bottom: 88px;
    padding-left: 380px;
    padding-right: 380px;
  }

  .photo-gallery__item {
    position: relative;

    &:first-child .photo-gallery__item-image {
      width: 1200px;
    }

    &:first-child .photo-gallery__item-info {
      width: 1200px;
    }

    &:nth-child(2n-1) .photo-gallery__item-info {
      background-color: $black-30-color;
    }
  }

  .photo-gallery__item-image {
    width: 400px;
  }

  .photo-gallery__item-info {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 80px;

    color: $white-color;
    background-color: $black-30-color;
  }

  .photo-gallery__icon-like {
    fill: $white-color;
  }

  .photo-gallery__like-link {
    color: $white-color;
  }
}
