@use "mixins.scss";

.service__wrapper {
  @include container;
  padding-bottom: 49px;
}

.service__title {
  margin: 0;
  padding: 35px 30px 24px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: $black-color;
}

.service__description {
  margin: 0;
  padding: 0 28px 35px;
}

.service__find-hotel-link {
  @include link-decoration;

  display: block;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  color: $white-color;
  background-color: $blue-default-color;

  width: 284px;
  margin: 0 auto;
  padding: 16px 0 16px;

  &[href]:hover {
    background-color: $blue-hover-color;
  }

  &[href]:active {
    color: $white-30-color;
    background-color: $blue-click-color;
  }

  &[href]:disabled {
    color: $white-color;
    background-color: $grey-form-hover-color;
    cursor: default;
  }
}

@media (min-width: $tablet-width) {
  .service__title {
    padding: 60px 155px 32px;
  }

  .service__description {
    padding: 0 155px 40px;
  }

  .service__find-hotel-link {
    width: 458px;
  }
}

@media (min-width: $desktop-width) {
  .service__description {
    padding: 0 380px 46px;
  }
}
