@use "mixins.scss";

.social {
  width: 156px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social__item {
  width: 48px;
  height: 48px;
  color: $white-color;
  background-color: $blue-default-color;
}

.social__link {
  @include link-decoration;

  display: block;
  cursor: pointer;

  &[href]:hover {
    background-color: $blue-hover-color;
  }

  &[href]:active {
    background-color: $blue-click-color;
  }

  &[href]:active .social__icon {
    fill: $white-30-color;
  }
}

.social__icon {
  @include image-size;
  vertical-align: bottom;
  margin: 17px auto;
  fill: $white-color;

  &--telegram {
    margin: 15px auto;
  }
}
