@use "mixins.scss";

.video-presentation__wrapper {
  @include container;
  position: relative;
}

.video-presentation__title,
.video-presentation__description {
  margin-top: 0;
}

.video-presentation__title {
  padding: 0 27px;
  margin-bottom: 27px;
}

.video-presentation__description {
  padding: 0 27px;
  margin-bottom: 38px;
}

.video-presentation__button {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 0;

  &::before {
    position: absolute;
    content: "";
    bottom: 60px;
    left: 50%;
    transform: translateX(-16px);
    width: 48px;
    height: 54px;
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.video-presentation__play {
  @include visually-hidden;
}

.video-presentation__video-file {
  @include image-size;
  vertical-align: bottom;
  background-color: $grey-form-hover-color;
}

@media (min-width: $tablet-width) {
  .video-presentation__wrapper {
    margin-bottom: 40px;
  }

  .video-presentation__title {
    font-size: 30px;
    line-height: 0.87;
    padding: 0 160px;
    margin-bottom: 31px;
  }

  .video-presentation__description {
    padding: 0 160px;
    margin-bottom: 90px;
  }

  .video-presentation__video-file {
    width: 648px;
    height: 500px;
  }

  .video-presentation__button::before {
    bottom: 223px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-width) {
  .video-presentation__wrapper {
    margin-bottom: 83px;
  }

  .video-presentation__title {
    padding: 0 377px;
  }

  .video-presentation__description {
    margin-bottom: 86px;
    padding: 0 377px;
  }

  .video-presentation__video-file {
    width: 800px;
    height: 500px;
  }

  .video-presentation__button::before {
    left: 50%;
    transform: translateX(-25px);
  }
}
