$white-color: #ffffff;
$white-60-color: rgba(255, 255, 255, 0.6);
$white-30-color: rgba(255, 255, 255, 0.3);
$white-20-color: rgba(255, 255, 255, 0.2);

$black-color: #000000;
$black-30-color: rgba(0, 0, 0, 0.3);
$black-20-color: rgba(0, 0, 0, 0.2);
$black-0-color: rgba(0, 0, 0, 0);

$shadow-20-color: rgba(1, 1, 1, 0.2);

$dark-grey-color: #333333;
$dark-grey-30-color: rgba(51, 51, 51, 0.3);
$dark-grey-60-color: rgba(51, 51, 51, 0.6);
$light-grey-color: #eeeeee;
$grey-click-color: #b3b3b3;
$grey-form-color: #f2f2f2;
$grey-form-hover-color: #e5e5e5;
$grey-form-down-color: #d5d5d5;
$grey-gallery-color: #eaeaea;

$brown-carrent-color: #766357;

$blue-default-color: #81b3d2;
$blue-mark-color: #81b3d3;
$blue-hover-color: #669ec0;
$blue-click-color: #5496bd;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
